<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "about.png" %>
	</div>

	<div id="content">
		<h1>Travell Tripper</h1>
		<p>Welcome to Travel Tripper Blog in Rails</p>
		<p>Travel Tripper is a full-service hotel web technology provider and strategic partner
		in helping hotels worldwide to optimize conversions,
		expand reach, and generate demand. We power properties with
		innovative technological solutions,
		including RezTrip, our industry leading central reservation system and
		hotel booking engine, and Travel Tripper Web,
		our fully integrated website and mobile platform.</p>
    <p>find me on WebSite<a href="http://www.traveltripper.com"> TravelTripper</a></p>
	</div>
</div>