<div id="page_wrapper">
	<h1>Events</h1>
	<div id="profile_image">
		<%= image_tag "home.jpg" %>
	</div>
	<div id="content">
		<h2>Events to enjoy this season</h2>
		<p> Hotels & Resorts offers an environment perfectly designed
			for successful events.
			The hotels and resorts are located in tranquil and aesthetically
			pleasing surroundings
			to refresh the mind and focus attention.Hotels & Resorts,we believe
			that perfection is
			achieved through the harmonyof unparalleled location, exemplary
			service and quiet
			efficiency.
		</p>
	</div>
	
	<h1>plans</h1>
	<div id="profile_image">
		<%= image_tag "holidays.jpg" %>
	</div>
	<div id="content">
		<h2>Plans to enjoy nature and culture</h2>
		<p>ake a regular liner to the individualistic islands from Toba
			city need 10 minutes in the shortest, 40 minutes in the longest.
			Especially beautiful sunset and fascinating views which can be met
			at anywhere and will make tourists love it. In those islands,
			Ama (female diver) catch fish in the traditional fishing method
			"Free Diving", sea urchins, abalone, turban shell and other seafood
			is very fresh, "octopus rice" and so the island's food culture is
			endless charming too. Feel the rich nature with your five sences and
			make you want staying there for enjoy it !
		</p>
	</div>
</div>