<div id="page_wrapper">
    <h1>Holiday Activities</h1>
    <div id="profile_image">
		<%= image_tag "sflw.jpg" %>
	</div>

	<div id="content">
		<h2>Fantastic skiing holiday with your family</h2>
        <p>Our exclusive children’s hotels are the perfect locations for all winter sports fans famous winter sports regions await you and your family!</p>
    </div>

    <div id="profile_image">
		<%= image_tag "blu.jpg" %>
	</div>

	<div id="content">
		<h2>Hiking in Austria and South Tyrol </h2>
	    <p> Many attractive hiking trails for your family vacation you can choose
	    between easy hikes along alpine pastures to demanding walks to
	    the summits of the surrounding mountain peaks.</p>
	</div>

    <div id="profile_image">
		<%= image_tag "de.jpg" %>
	</div>

	<div id="content">
		<h2>Cycling and mountain biking in beautiful natural landscapes</h2>
	    <p>Many bike trails run through meadows, along the valley or
	    around beautiful lakes. All family hotels also offer bicycles,
	    mountain bikes and some even offer e-bikes for rent.</p>
    </div>
    
</div>