<div id="page_wrapper">
  <h1>Special Offers</h1>
	<div id="profile_image">
        <%= image_tag "cred.jpg" %>
        <div id="content">
          <h2>Earn 500 more Points</h2>
          <p>Book with the Hilton Honors app and get 500 Points for
          each completed stay </p>
        </div>
	</div>

  <div id="profile_image">
		  <%= image_tag "Center.jpg" %>
      <div id="content">
        <h2>Double points on every stay</h2>
        <p> Spend $2,000 with the Hilton Honors Card from
        American Express in the first 3 months</p>
      </div>
	</div>

  <div id="profile_image">
		  <%= image_tag "HH.jpg" %>
      <div id="content">
        <h2>Business Meets</h2>
        <p>Hilton now offers a simplified meeting package ideal
          for meetings up to 25 people.</p>
      </div>
	</div>

  <div id="profile_image">
		  <%= image_tag "a.jpg" %>
      <div id="content">
        <h2>Park, stay and Go</h2>
        <p>Book the Park, Stay & Go Package at a participating hotel
        and get parking plus shuttle service to and from select airports
        or select cruise ports.</p>
      </div>
	</div>
</div>